@model IEnumerable<Beta_System.Models.C_establos_caseta_logs_g>

@if (Model.Count() > 0)
{
    <table class="table table-striped table-bordered" id="reporte_bitacora__table">
        <thead>
            <tr class="text-center bg-beta">
                <th>Nombre ingresante</th>
                <th>Placas/Identificador</th>
                <th>Tipo entrada</th>
                <th>Usuario registra ingreso</th>
                <th>Fecha ingreso</th>
                <th>Hora ingreso</th>
                <th>Usuario registra salida</th>
                <th>Fecha salida</th>
                <th>Hora salida</th>
                <th>Asunto</th>
                <th>Tiempo estancia</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                TimeSpan estancia;
                string tiempo = "";
                if (item.fecha_salida != null && item.fecha_entrada != null)
                {
                    estancia = (item.fecha_salida - item.fecha_entrada).Value;
                    if (estancia.Days > 0) { tiempo += estancia.Days + " dias "; }
                    if (estancia.Hours > 0) { tiempo += estancia.Hours + " horas "; }
                    if (estancia.Minutes > 0) { tiempo += estancia.Minutes + " minutos"; }
                }

                <tr class="text-center">
                    <td>@item.nombre_registro</td>
                    <td>@item.placas</td>
                    <td>@item.C_establos_caseta_tipos_entradas.tipo_entrada</td>
                    <td>@item.C_usuarios_corporativo.C_empleados.nombres @item.C_usuarios_corporativo.C_empleados.apellido_paterno</td>

                    <td><strong>@string.Format(item.fecha_entrada.Value.ToShortDateString(), "dd/mm/yyyy")</strong></td>
                    <td><strong>@string.Format(item.fecha_entrada.Value.ToShortTimeString(), "hh:mm")</strong></td>

                    @if (item.fecha_salida != null && item.fecha_entrada != null)
                    {
                        <td>@item.C_usuarios_corporativo1.C_empleados.nombres @item.C_usuarios_corporativo1.C_empleados.apellido_paterno</td>
                        <td><strong>@string.Format(item.fecha_salida.Value.ToShortDateString(), "dd/mm/yyyy")</strong></td>
                        <td><strong>@string.Format(item.fecha_salida.Value.ToShortTimeString(), "hh:mm")</strong></td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                    }


                    <td>@item.asunto</td>
                    <td>
                        @if (tiempo != "0")
                        {<strong>@tiempo</strong>}

                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3 class="text-danger text-center">No se encontraron registros</h3>
}



