@using System.Globalization;
@model List<Beta_System.Models.C_alimentacion_programa_d>

@if (Model.Count() > 0)
{
    CultureInfo culturaEspañol = new CultureInfo("es-ES");
    DateTime fecha_inicio = ViewBag.fecha_inicio;
    DateTime fecha_inicio_count = fecha_inicio;
    DateTime fecha_inicio_count_articulo = fecha_inicio;
    string nombre_dia = "";
    var programa_g = Model.FirstOrDefault().C_alimentacion_programa_g;
    <div class="row p-1" style="border: 2px solid #2e87d7; border-radius:2.1rem;">
        <div class="col-md-8 text-left">
            <h2 style="margin:10px;">Establo: @programa_g.C_establos.nombre_establo</h2>
            <h3 style="margin:10px;" class="text_beta">@programa_g.nombre_programacion <strong class="text-dark"> / Fecha inicio: @string.Format(programa_g.fecha_inicio.Value.ToShortDateString(), "dd/MM/yyyy")</strong></h3>
        </div>
        <div class="col-md-4 text-left">
            <h4 style="margin:10px;">Generado por: @programa_g.C_usuarios_corporativo.C_empleados.nombres @programa_g.C_usuarios_corporativo.C_empleados.apellido_paterno</h4>
            <h4 style="margin:10px;">Fecha registro: @string.Format(programa_g.fecha_inicio.Value.ToShortDateString(), "dd/MM/yyyy")</h4>
            <h4 style="margin:10px;">No semanas: @programa_g.semanas_programa</h4>
        </div>
    </div>
    <br />
    <h3 style="margin:5px;" class="text_beta text-left ml-3">Programación</h3>
    for (int i = 1; i <= programa_g.semanas_programa; i++)
    {
        <div class="p-3" style="border: 2px solid #2e87d7; border-radius:2.1rem;">
            <h3 class="text-left ">SEMANA @i</h3>
            <table class="table table-striped table-bordered table-sm table-condensed">
                <thead>
                    <tr class="bg-beta text-center">
                        <th style="width:400px;">Alimento</th>
                        @*<th>Calidad</th>*@
                        @for (int z = 1; z <= 7; z++)
                        {
                            int no_dia = Convert.ToInt32(fecha_inicio_count.DayOfWeek);
                            switch (no_dia)
                            {
                                case 1: nombre_dia = "Lun"; break;
                                case 2: nombre_dia = "Mar"; break;
                                case 3: nombre_dia = "Mié"; break;
                                case 4: nombre_dia = "Jue"; break;
                                case 5: nombre_dia = "Vie"; break;
                                case 6: nombre_dia = "Sáb"; break;
                                case 0: nombre_dia = "Dom"; break;
                                default: nombre_dia = "Número de día no válido"; break;
                            }
                            <th>@nombre_dia @fecha_inicio_count.Day @fecha_inicio_count.ToString("MMM", culturaEspañol)</th>
                            fecha_inicio_count = fecha_inicio_count.AddDays(1);
                        }
                    </tr>
                </thead>
                <tbody id="tbody_prg_@i">
                    @foreach (var item in Model.OrderBy(x => x.C_articulos_catalogo.nombre_articulo).Select(x => x.id_articulo).Distinct())
                    {
                        int id_articulo = (int)item;
                        var valid = Model.Where(x => x.id_articulo == id_articulo && x.fecha_programacion == fecha_inicio_count_articulo).FirstOrDefault();
                        if (valid != null)
                        {

                            <tr class="text-center">
                                <td style="width:400px;">@valid.C_articulos_catalogo.nombre_articulo</td>
                                @*<td></td>*@

                                @for (int z = 1; z <= 7; z++)
                                {
                                    <td>@Model.Where(x => x.id_articulo == id_articulo && x.fecha_programacion == fecha_inicio_count_articulo).FirstOrDefault().toneladas</td>
                                    fecha_inicio_count_articulo = fecha_inicio_count_articulo.AddDays(1);
                                }
                            </tr>
                            fecha_inicio_count_articulo = fecha_inicio_count_articulo.AddDays(-7);
                        }
                    }
                    @{ fecha_inicio_count_articulo = fecha_inicio_count;}
                </tbody>
            </table>
        </div>
        <br />
    }
}
else
{
    <h3 class="text-danger text-center">NO SE ENCONTRARON REGISTROS</h3>
}

