@model List<Beta_System.Models.ReporteChecadorNomina>
@using System.Globalization;

@{
    DateTime[] fechas_semana = ViewBag.fechas_semana;
}

@foreach (var item in Model.GroupBy(x => x.id_departamento))
{
    <table class="table table-striped table-bordered table-hover small table-sm" id="datatable_jornada_laboral">
        <thead>
            @*<tr class="text-center bg-beta">
                <th colspan="9" class="text-left"><strong>@item.FirstOrDefault().nombre_departamento</strong></th>
            </tr>*@

            <tr class="text-center bg-dark text-white">
                <th>EMPLEADO</th>
                @for (int i = 0; i < fechas_semana.Length; i++)
                {
                    <th>@fechas_semana[i].ToString("dddd", new CultureInfo("es-ES")).ToUpper().Replace("É", "E").Replace("Á", "A") @fechas_semana[i].Day</th>
                }
                <th>Total hrs</th>
                <th>Prom. hrs diarias</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var punch_g in item.OrderBy(x => x.nombre_empleado).GroupBy(x => x.id_empleado))
            {
                int id_empleado = punch_g.FirstOrDefault().id_empleado;

                decimal valor_hora = punch_g.FirstOrDefault().valor_hra;

                int totalMinutes = punch_g.Sum(x => (int)x.hrs_totales.TotalMinutes);
                int totalHours = totalMinutes / 60;
                int minutos_restantes = totalMinutes % 60;
                //totalHours += (int)punch_g.Sum(x => x.hrs_totales.TotalHours);

                int total_hrs_estimulo = punch_g.Sum(x => x.hrs_estimulo);
                decimal total_hrs_estimulo_valor = punch_g.Sum(x => x.hrs_estimulo_valor);


                int hrs_extra = punch_g.Sum(x => x.hrs_extra);
                decimal hrs_extra_monto = punch_g.Sum(x => x.hrs_extra_valor);

                if (punch_g.Sum(x => x.hrs_estimulo) > 0)
                {
                    hrs_extra = 9;
                    hrs_extra_monto = hrs_extra * valor_hora;

                    total_hrs_estimulo = punch_g.FirstOrDefault().hrs_estimulo;
                    total_hrs_estimulo_valor = punch_g.FirstOrDefault().hrs_estimulo_valor;
                }

                string identificador_hrs_extras_estimulos = "valores_" + id_empleado.ToString();
                <tr class="text-center">
                    <td style="width: 500px;" class="text-left">@punch_g.FirstOrDefault().nombre_empleado</td>
                    @for (int i = 0; i < fechas_semana.Length; i++)
                    {
                        var punch_d = punch_g.Where(x => x.fecha_punch == fechas_semana[i]).FirstOrDefault();

                        string color_celda = "";
                        string color_texto_celda = "#2e87d7";
                        string identificador_faltas = id_empleado.ToString() + "_" + punch_d.no_dia;

                        if (punch_d.id_checador_concepto == 2) { color_celda = "#eb3c3c"; color_texto_celda = "white"; }
                        else if (punch_d.concepto_modificado == true) { color_celda = "#FFC900"; color_texto_celda = "black"; }
                        else { color_celda = ""; color_texto_celda = "#2e87d7"; }

                        string hra_entrada = "N/A";
                        string hra_salida = "N/A";
                        <td  style="background-color:@color_celda; color:@color_texto_celda;" id="cell_@identificador_faltas">
                            @if (punch_d.fecha_punch_e != DateTime.MinValue) { hra_entrada = punch_d.fecha_punch_e.ToString("hh:mm tt"); }

                            @if (punch_d.fecha_punch_s != DateTime.MinValue){ hra_salida = punch_d.fecha_punch_s.ToString("hh:mm tt"); }

                             <strong>@hra_entrada - @hra_salida</strong>
                        </td>

                    }

                    @* TOTAL DE HORAS *@
                    <td>
                        <strong>@totalHours:@minutos_restantes hrs</strong>
                    </td>

                    @* PROMEDIO DE HORAS X DIA *@
                    <td>
                        @if (totalMinutes > 0)
                        {
                            int totalMinutes_avg = punch_g.Sum(x => (int)x.hrs_totales.TotalMinutes)/ punch_g.Where(x => x.id_punches_e != 0).Count();
                            int totalHours_avg = totalMinutes_avg / 60;
                            int minutos_restantes_avg = totalMinutes_avg % 60;

                            <strong>@totalHours_avg : @minutos_restantes_avg</strong>
                        }
                    </td>

                    @* HORAS EXTRA *@
                    @*<td>
                    @if (hrs_extra > 0)
                    {
                        <strong>@hrs_extra hrs</strong>
                    }
                </td>*@

                </tr>
            }
        </tbody>
    </table>


}





