@model IEnumerable<Beta_System.Models.C_almacen_solicitudes_mercancia_g>

<table id="tabla_vales_historial" class="table table-striped table-bordered" style="width:100%;">
    <thead>
        <tr class="bg-beta text-center">
            <th>Folio</th>
            <th>Cargo</th>
            <th>Departamento</th>
            <th>Almacén</th>
            <th>Equipo</th>
            <th>Fecha de registro</th>
            <th>Fecha de entrega</th>
            <th>Importe total ($)</th>
            <th>Solicitante</th>
            <th>Estatus</th>
            <th>Ver</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">
                <td><strong>@item.id_solicitud_mercancia_g</strong></td>
                <td>@item.cargo_desc</td>
                <td>@item.C_departamentos_g.nombre_departamento</td>
                <td>@item.C_almacen_almacenes_g.nombre_almacen</td>
                <td>@item.C_establos_equipos.nombre_equipo</td>
                <td>@String.Format(item.fecha_registro.Value.ToShortDateString(), "dd/mm/aaaa")</td>
                <td>@String.Format(item.fecha_entrega.Value.ToShortDateString(), "dd/mm/aaaa")</td>

                <td>@string.Format("{0:C}", @item.total)</td>
                <td>@item.C_empleados.nombres @item.C_empleados.apellido_paterno @item.C_empleados.apellido_materno</td>
                <td><button class="btn" style="font-weight:800; background-color:@item.C_almacen_solicitudes_status.color; color:white;">@item.C_almacen_solicitudes_status.nombre_status</button></td>
                <td><button class="btn btn_beta_icon" onclick="ConsultarSolicitudDetalleHistorial(@item.id_solicitud_mercancia_g);"><i class="fa fa-bars"></i></button></td>

            </tr>
        }
    </tbody>
</table>
