@model IEnumerable<Beta_System.Models.C_almacen_solicitudes_mercancia_d>

@if (Model.Count() > 0)
{
    var solicitud = Model.FirstOrDefault().C_almacen_solicitudes_mercancia_g;
    int id_almacen = (int)solicitud.id_almacen_g;
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detalle de la solicitud</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" style="overflow: scroll; min-height: 600px; height: 600px; overflow-x: hidden;">
        <div class="">
            <div class="row">
                <div class="col-md-6 text-left">
                    <h3 style="margin:0px;"><strong>Folio: @solicitud.id_solicitud_mercancia_g</strong></h3>
                    <h3 style="margin:0px;">Cargo: @solicitud.cargo_desc</h3>
                </div>
                <div class="col-md-6 text-right">
                    <strong>Fecha de registro: @String.Format(solicitud.fecha_registro.ToString(), "dd/MM/yyyy")</strong><br />
                    <button class="btn" style="color:white; background-color:@solicitud.C_almacen_solicitudes_status.color">@solicitud.C_almacen_solicitudes_status.nombre_status</button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <label>Centro: @solicitud.C_centros_g.nombre_centro</label><br />
                        <label>Departamento: @solicitud.C_departamentos_g.nombre_departamento</label><br />
                        <label>Almacén: @solicitud.C_almacen_almacenes_g.nombre_almacen</label><br />
                        <label>Equipo: @solicitud.C_establos_equipos.nombre_equipo</label>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="col-md-12">
                        <label>Registrado por: <strong>@solicitud.C_empleados.nombres @solicitud.C_empleados.apellido_paterno</strong></label><br />
                        @try
                        {
                            if (solicitud.id_empleado_remitente != null)
                            {
                                <label>Solicita: <strong>@solicitud.C_nomina_empleados.Nombres @solicitud.C_nomina_empleados.Apellido_paterno</strong></label><br />
                            }
                            else
                            {
                                <label>Solicita: <strong>@solicitud.C_empleados.nombres @solicitud.C_empleados.apellido_paterno</strong></label><br />
                            }
                        }
                        catch (Exception) { }
                    </div>
                </div>
                <div class="col-md-2">
                    <br />
                    <br />
                    <h3 style="margin: 3px;"><strong>Total: $@solicitud.total.Value.ToString("N2")</strong></h3>
                </div>
            </div>
            <hr />
            <h4 class="text-center">ARTICULOS</h4>
            <div class="table-responsive">
                <table class="table table-striped table-bordered" id="tabla_solicitudes_detalle" style="width:100%;">
                    <thead>
                        <tr class="text-center bg-beta">
                            <th>Artículo</th>
                            <th>Descripción</th>
                            <th>Unidad</th>
                            <th>Cantidad solicitada</th>
                            <th>Entregado</th>
                            <th>Precio Est</th>
                            <th>Importe</th>
                            <th>Cargo Contable</th>
                            <th>Observaciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="text-center">
                                <td><strong>@item.C_articulos_catalogo.clave</strong></td>
                                <td>@item.C_articulos_catalogo.nombre_articulo</td>
                                <td>@item.C_unidades_medidas.unidad_medida</td>

                                <td>
                                    @*SOLICITADA*@
                                    <div id="cant_solicitada_@item.id_solicitud_mercancia_d">@item.cantidad</div>
                                </td>
                                <td>
                                    @*ENTREGADO*@
                                    <div id="cant_entregado_@item.id_solicitud_mercancia_d">@item.cantidad_entregada</div>
                                </td>

                                <td>@string.Format("{0:C}", @item.costo)</td>
                                <td>@string.Format("{0:C}", @item.importe)</td>
                                <td>@item.cargo_cuenta_contable</td>
                                <td>@item.observaciones</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <br />
            <hr />
            <div class="table-responsive">
                <div id="div_cambios_solicitud"></div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn_beta_danger" data-dismiss="modal">Cerrar</button>
    </div>
}

