@model IEnumerable<Beta_System.Models.CapturaInventarioDiferencias>


@if (Model != null)
{
    <h3 class="text-right">Último inventario: @ViewBag.fecha_inventario</h3>

    <div style="height: 500px; min-height:500px; overflow: auto; overflow-x: hidden;">
        <table class="table table-striped table-bordered text-center small table-sm" id="datatable_inventario_fisico">
            <thead>
                <tr class="bg-beta">
                    <th>Clave</th>
                    <th class="text-left">Artículo</th>
                    <th>Unidad medida</th>
                    <th>Ubicación</th>

                    @*<th><strong>@ViewBag.fecha_corta</strong></th>*@
                    <th>Ult. inventario</th>
                    <th>Cant. inicial</th>
                    <th>Ent. compra (E)</th>
                    <th>Ent. traspaso (E)</th>
                    <th>Ent. ajuste (E)</th>
                    <th>Devoluciones (E)</th>
                    <th>Sal. vales (S)</th>
                    <th>Sal. traspaso (S)</th>
                    <th>Sal. ajuste (S)</th>
                    <th>Precio</th>
                    <th>Sistema</th>
                    <th>Importe</th>
                    <th>Fisico</th>
                    <th>Diferencia</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="" id="articulo_cap_"><strong id="@item.Id_articulo" class="articulos_cap_inventario_general">@item.Clave</strong></td>
                        <td class="text-left" style="width:300px;min-width:300px;"><strong>@item.Nombre_articulo</strong></td>
                        <td>@item.Unidad_medida</td>
                        <td><strong>@item.Ubicacion</strong></td>

                        <td>
                            @if (item.Fecha_ultimo_inv == "01/07/2024")
                            {<strong>N/A</strong> }
                            else
                            { <strong>@item.Fecha_ultimo_inv</strong>}
                        </td>
                        <td>@item.Ultima_Cap.ToString("N2")</td>

                        <td>@item.Entradas.ToString("N2")</td>
                        <td>@item.Entradas_trasp.ToString("N2")</td>
                        <td>@item.Entradas_ajuste.ToString("N2")</td>
                        <td>@item.Entradas_devolucion.ToString("N2")</td>
                        <td>@item.Salidas.ToString("N2")</td>
                        <td>@item.Salidas_trasp.ToString("N2")</td>
                        <td>@item.Salidas_ajuste.ToString("N2")</td>
                        <td>$@item.Precio.ToString("N2")</td>

                        <td id="sistema_cap_@item.Id_articulo" class="sistema_cap_inventario_general">@string.Format("{0:0.00}", item.Cantidad_sistema)</td>
                        <td>$@item.Total.ToString("N2")</td>

                        <td>
                            @if (ViewBag.inv_inicial == false)
                            {
                                <div contenteditable="true" class="articulo_cantidad_fisica_cap divEditable p-1" id="fisico_cap_@item.Id_articulo" onkeyup="CalcularDiferenciaCapInventario(@item.Id_articulo, false);">@item.Cantidad_sistema.ToString("0.00")</div>
                            }
                            else
                            {
                                <div contenteditable="true" class="articulo_cantidad_fisica_cap divEditable p-1" id="fisico_cap_@item.Id_articulo" onkeyup="CalcularDiferenciaCapInventario(@item.Id_articulo, true);">@item.Cantidad_sistema.ToString("0.00")</div>
                            }
                        </td>
                        <td>
                            <strong class="diferencias_cap_inventario_general" id="diferencia_cap_@item.Id_articulo">@string.Format("{0:0.00}", item.Cantidad_sistema)</strong>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <h2 class="text-center">OCURRIÓ UN PROBLEMA AL REALIZAR LOS CALCULOS</h2>
    <br />
    <label>@ViewBag.ex_msj</label>
}

