@model List<Beta_System.Models.C_envios_leche_g>

<style>
    .tr_transparent {
        border: 0px solid transparent;
    }
</style>
@foreach (var envio in Model.GroupBy(x => x.id_envio_leche_cliente_ms))
{
    <h3 class="text-left bg-beta p-2" style="margin:0px;">Cliente: @envio.FirstOrDefault().C_envios_leche_clientes.nombre_comercial</h3>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-sm table-condensed datatable_reporte_movimientos_cliente" id="datatable_reporte_movimientos_cliente">
            <thead>
                <tr class="bg-beta">
                    <th class="bg-red">ENVIO</th>
                    <th class="bg-red"></th>
                    <th class="bg-red"></th>
                    <th class="bg-red"></th>
                    <th class="bg-red"></th>
                    <th class="bg-red"></th>
                    <th class="bg-orange">RECEPCION</th>
                    <th class="bg-orange"></th>
                    <th class="bg-orange"></th>
                    <th class="bg-orange"></th>
                    <th class="bg-green">FACTURACION</th>
                    <th class="bg-green"></th>
                    <th class="bg-green"></th>
                    <th class="bg-green"></th>
                    <th class="bg-green"></th>
                    <th class="bg-purple">PAGO</th>
                    <th class="bg-purple"></th>
                </tr>
                <tr>
                    @* ENVIO DE LECHE *@
                    <th class="bg-dark text-white">Fecha</th>
                    <th class="bg-dark text-white">Establo</th>
                    <th class="bg-dark text-white">Folio</th>
                    <th class="bg-dark text-white">Rem. Ce</th>
                    <th class="bg-dark text-white">Destino</th>
                    <th class="bg-dark text-white">Litros</th>
                    @* RECEPCION *@
                    <th class="bg-dark text-white">Fecha</th>
                    <th class="bg-dark text-white">Folio</th>
                    <th class="bg-dark text-white">Litros</th>
                    <th class="bg-dark text-white">Lote</th>

                    @* FACTURACION *@
                    <th class="bg-dark text-white">Fecha</th>
                    <th class="bg-dark text-white">Factura</th>
                    <th class="bg-dark text-white">Flete</th>
                    <th class="bg-dark text-white">P.U.</th>
                    <th class="bg-dark text-white">Importe</th>

                    @* DIAS *@
                    <th class="bg-dark text-white">Fecha</th>
                    <th class="bg-dark text-white">Referencia</th>
                    @*<th>del Envio</th>
                        <th>de Fact.</th>*@
                </tr>
            </thead>
            <tbody>
                @foreach (var item in envio)
                {
                    Beta_System.Models.C_envios_leche_confirmacion valid_recepcion = null;
                    Beta_System.Models.C_envios_leche_lote_g valid_factura = null;

                    if (item.C_envios_leche_confirmacion.Where(x => x.activo == true).Count() > 0)
                    {
                        valid_recepcion = item.C_envios_leche_confirmacion.Where(x => x.activo == true).FirstOrDefault();

                        if (valid_recepcion.C_envios_leche_lote_d.Count() > 0)
                        {
                            if (valid_recepcion.C_envios_leche_lote_d.FirstOrDefault().C_envios_leche_lote_g != null)
                            {
                                valid_factura = valid_recepcion.C_envios_leche_lote_d.FirstOrDefault().C_envios_leche_lote_g;
                            }
                        }
                    }

                    <tr>
                        @* ENVIO DE LECHE *@
                        <td>@string.Format(item.fecha_envio.Value.ToShortDateString(), "dd/MM/yyyy")</td>
                        <td>@item.C_establos.siglas</td>
                        <td>@item.folio</td>
                        <td>@item.remision_cliente</td>
                        <td>@item.C_envios_leche_destinos.nombre_destino</td>
                        <td>
                            @if (valid_recepcion != null)
                            {
                                <label>@valid_recepcion.C_envios_leche_g.C_envios_leche_d_fichas.Where(x => x.activo == true).Sum(x => x.litros_confirmacion).Value.ToString("N2")</label>
                            }
                        </td>

                        @* RECEPCION *@
                        @if (valid_recepcion != null)
                        {
                            <td>@string.Format(valid_recepcion.fecha_recepcion.Value.ToShortDateString(), "dd/MM/yyyy")</td>
                            <td>@item.folio</td>
                            <td>@item.litros_totales</td>
                            <th>
                                @try
                                {
                                    <label>@valid_recepcion.C_envios_leche_lote_d.FirstOrDefault().id_envio_leche_lote_g</label>
                                }
                                catch (Exception)
                                { }
                            </th>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        }

                        @* FACTURACION *@
                        @if (valid_factura != null)
                        {
                            //decimal importe = (decimal)valid_recepcion.C_envios_leche_g.C_envios_leche_d_fichas.Where(x => x.activo == true).Sum(x => x.litros_confirmacion) * (decimal)valid_recepcion.C_envios_leche_lote_d.Where(x => x.activo == true).FirstOrDefault().precio_leche;
                            decimal importe = (decimal)item.litros_totales * (decimal)valid_recepcion.C_envios_leche_lote_d.Where(x => x.activo == true).FirstOrDefault().precio_leche;

                            <td>@string.Format(valid_factura.fecha_registro.Value.ToShortDateString(), "dd/MM/yyyy")</td>
                            <td>@valid_factura.factura</td>
                            <td>@valid_recepcion.C_envios_leche_lote_d.Where(x => x.activo == true).FirstOrDefault().precio_flete.Value.ToString("N2")</td>
                            <td>@valid_recepcion.C_envios_leche_lote_d.Where(x => x.activo == true).FirstOrDefault().precio_leche.Value.ToString("N2")</td>
                            <td>@importe.ToString("N2")</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        }

                        <td></td>
                        <td></td>

                        @*<td></td>
                            <td></td>*@
                        @* DIAS *@
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


