@model IEnumerable<Beta_System.Models.PresupuestosCuentasAlmacen>

@{
    List<Beta_System.Models.C_presupuestos_meses> meses_presupuesto = Session["MesesPresupuestoAlmacen"] as List<Beta_System.Models.C_presupuestos_meses>;
    var id_anio = ViewBag.id_anio;
    List<int> permisos = Session["PermisosModulo"] as List<int>;
}


<div class="row">
    <div class="col-md-12">
        <table class="table table-striped table-bordered" id="datatable_presupuestos" style="width:100%;">
            <thead>
                <tr class="bg-beta">
                    <th>Cuenta</th>
                    <th>Descripción</th>
                    @foreach (var mes in meses_presupuesto)
                    {
                        <th>@mes.mes</th>
                    }
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Select(x => x.c_cuentas).Distinct().OrderBy(x => x.nombre_cuenta))
                {
                    <tr>
                        <td>@item.cuenta</td>
                        <td>@item.nombre_cuenta</td>
                        @foreach (var mes in meses_presupuesto)
                        {
                            //.Where(x => x.c_presupuestos.id_mes == mes.id_mes_presupuesto).FirstOrDefault()
                            var valor = item.C_presupuestos_almacenes_cuentas_meses_anios;
                            if (valor != null)
                            {
                                var valid = valor.Where(x => x.id_anio == id_anio && x.id_mes == mes.id_mes_presupuesto).FirstOrDefault();
                                if (valid != null)
                                {
                                    if (permisos.Contains(3019))
                                    {
                                        <td>
                                            <div onkeyup="CalcularTotalPresupuestoCuenta(@item.id_cuenta_contable);" contenteditable="true" class="divEditable valor_cuenta_@item.id_cuenta_contable mes_@mes.id_mes_presupuesto" id="mes_@mes.id_mes_presupuesto" name="@id_anio">@valid.valor_presupuesto</div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <strong>@valid.valor_presupuesto</strong>
                                        </td>
                                    }
                                }
                                else
                                {
                                    if (permisos.Contains(3019))
                                    {
                                        <td>
                                            <div onkeyup="CalcularTotalPresupuestoCuenta(@item.id_cuenta_contable);" contenteditable="true" class="divEditable valor_cuenta_@item.id_cuenta_contable mes_@mes.id_mes_presupuesto" id="mes_@mes.id_mes_presupuesto" name="@id_anio">0</div>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <strong>0</strong>
                                        </td>
                                    }
                                }
                            }
                            else
                            {
                                if (permisos.Contains(3019))
                                {
                                    <td>
                                        <div onkeyup="CalcularTotalPresupuestoCuenta(@item.id_cuenta_contable);" contenteditable="true" class="divEditable valor_cuenta_@item.id_cuenta_contable mes_@mes.id_mes_presupuesto" id="mes_@mes.id_mes_presupuesto" name="@id_anio">0</div>
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        <strong>0</strong>
                                    </td>
                                }
                            }
                        }
                        <td><strong id="lbl_total_@item.id_cuenta_contable"></strong></td>


                        <script>CalcularTotalPresupuestoCuenta(@item.id_cuenta_contable);</script>
                    </tr>

                }
            </tbody>
            <tfoot>
                <tr class="bg-beta text-center">
                    <td><strong>TOTAL</strong></td>
                    <td></td>
                    @foreach (var mes in meses_presupuesto)
                    {
                        <td><strong id="m_@mes.id_mes_presupuesto"></strong></td>
                    }
                    <td id="mtotal_ptto"></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
