@model IEnumerable<Beta_System.Models.PresupuestosOrdenCompra>

@{
    List<Beta_System.Models.C_presupuestos_meses> meses_presupuesto = Session["ReporteMesesPresupuestoAlmacen"] as List<Beta_System.Models.C_presupuestos_meses>;
    var id_anio = ViewBag.id_anio_reporte;
    List<int> permisos = Session["PermisosModulo"] as List<int>;
}

@if (Model != null)
{

    <div class="" id="heading_header">
        <div class="w-100 collapsed p-2" style="border: 1px solid black; background-color: black;">
            <div class="row">
                <div class="col-md-5 text-center">
                    <h3 style="color: white;"><strong>CUENTA</strong></h3>
                </div>
                <div class="col-md-2 text-center">
                    <h3 style="color: white;"><strong>PRESUPUESTO</strong></h3>
                </div>
                <div class="col-md-2 text-center">
                    <h3 style="color: white;"><strong>CONSUMO</strong></h3>
                </div>
                <div class="col-md-2 text-center">
                    <h3 style="color: white;"><strong>DISPONIBLE</strong></h3>
                </div>
                <div class="col-md-1 text-center">
                    <h3 style="color: white;">Ver</h3>
                </div>
            </div>
        </div>
    </div>
    foreach (var items in Model)
    {
        <div class="">
            <div class="" id="heading_@items.cuenta">
                <div class="w-100 collapsed" style="border: 1px solid black; background-color: rgb(236, 244, 251);">
                    <div class="row">
                        @{
                            decimal diferencia = Convert.ToDecimal(@items.total_asignado) - Convert.ToDecimal(@items.total_consumido);
                        }
                        <div class="col-md-5 text-center">
                            <br />
                            <strong> @items.cuenta_string @items.descripcion</strong>
                        </div>
                        <div class="col-md-2 text-center">
                            <br />
                            <strong>Presupuesto Anual: @string.Format("{0:C}", items.total_asignado)</strong>
                        </div>
                        <div class="col-md-2 text-center">
                            <br />
                            <strong>Consumo Anual: @string.Format("{0:C}", items.total_consumido)</strong>
                        </div>
                        <div class="col-md-2 text-center">
                            <br />
                            <strong>Disponible Anual: @string.Format("{0:C}", diferencia)</strong>
                        </div>
                        <div class="col-md-1 text-center">
                            <button class="btn btn_beta_icon" data-toggle="collapse" data-target="#collapse_@items.cuenta" aria-expanded="false" aria-controls="collapse_@items.cuenta">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <script>
    try {
        $("#datatable_@items.cuenta").dataTable().fnDestroy();
    } catch (e) { }
            </script>

            <div id="collapse_@items.cuenta" class="collapse" aria-labelledby="heading_@items.cuenta" data-parent="#accordionSolicitudes">
                <div class="" style="border: 1px solid black; background-color: rgb(236, 244, 251);">
                    <div class="" style="border: 1px solid black; background-color: rgb(236, 244, 251);">
                        <div class="col-md-12">
                            <table class="table table-striped table-bordered" id="datatable_@items.cuenta">
                                <thead>
                                    <tr class="bg-beta text-center">
                                        @foreach (var mes in meses_presupuesto)
                                        {
                                            <th>@mes.mes</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Where(x => x.cuenta == items.cuenta))
                                    {
                                        <tr class="text-center">
                                            <td onclick="ConsumoMensualAlman(@items.cuenta,1,@item.ene_consumido)">
                                                <label>Presupuestado<br />@string.Format("{0:C}", @item.ene_asignado)</label><br />
                                                <label>Consumo<br />@string.Format("{0:C}", @item.ene_consumido)</label><br>
                                                <label>Disponible<br />@string.Format("{0:C}", @item.ene_disponible)</label>
                                            </td>

                                            <td onclick="ConsumoMensualAlman(@items.cuenta,2,@item.feb_consumido)">
                                                <label>Presupuestado<br />@string.Format("{0:C}", @item.feb_asignado)</label><br />
                                                <label>Consumo<br />@string.Format("{0:C}", @item.feb_consumido)</label><br />
                                                <label>Disponible<br />@string.Format("{0:C}", @item.feb_disponible)</label>
                                            </td>

                                            <td onclick="ConsumoMensualAlman(@items.cuenta,3,@item.mar_consumido)">
                                                <label>Presupuestado<br />@string.Format("{0:C}", @item.mar_asignado)</label><br />
                                                <label>Consumo<br />@string.Format("{0:C}", @item.mar_consumido)</label><br />
                                                <label>Disponible<br />@string.Format("{0:C}", @item.mar_disponible)</label>
                                            </td>

                                            <td onclick="ConsumoMensualAlman(@items.cuenta,4,@item.abr_consumido)">
                                                <label>Presupuestado<br />@string.Format("{0:C}", @item.abr_asignado)</label><br />
                                                <label>Consumo<br />@string.Format("{0:C}", @item.abr_consumido)</label><br />
                                                <label>Disponible<br />@string.Format("{0:C}", @item.abr_disponible)</label>
                                            </td>

                                            <td onclick="ConsumoMensualAlman(@items.cuenta,5,@item.mayo_consumido)">
                                                <label>Presupuestado<br />@string.Format("{0:C}", @item.mayo_asignado)</label><br />
                                                <label>Consumo<br />@string.Format("{0:C}", @item.mayo_consumido)</label><br />
                                                <label>Disponible<br />@string.Format("{0:C}", @item.mayo_disponible)</label>
                                            </td>

                                            <td onclick="ConsumoMensualAlman(@items.cuenta,6,@item.jun_consumido)">
                                                <label>Presupuestado<br />@string.Format("{0:C}", @item.jun_asignado)</label><br />
                                                <label>Consumo<br />@string.Format("{0:C}", @item.jun_consumido)</label><br />
                                                <label>Disponible<br />@string.Format("{0:C}", @item.jun_disponible)</label>
                                            </td>

                                            <td onclick="ConsumoMensualAlman(@items.cuenta,7,@item.jul_consumido)">
                                                <label>Presupuestado<br />@string.Format("{0:C}", @item.jul_asignado)</label><br />
                                                <label>Consumo<br />@string.Format("{0:C}", @item.jul_consumido)</label><br />
                                                <label>Disponible<br />@string.Format("{0:C}", @item.jul_disponible)</label>

                                            <td onclick="ConsumoMensualAlman(@items.cuenta,8,@item.ago_consumido)">
                                                <label>Presupuestado<br />@string.Format("{0:C}", @item.ago_asignado)</label><br />
                                                <label>Consumo<br />@string.Format("{0:C}", @item.ago_consumido)</label><br />
                                                <label>Disponible<br />@string.Format("{0:C}", @item.ago_disponible)</label>
                                            </td>

                                            <td onclick="ConsumoMensualAlman(@items.cuenta,9,@item.sep_consumido)">
                                                <label>Presupuestado<br />@string.Format("{0:C}", @item.sep_asignado)</label><br />
                                                <label>Consumo<br />@string.Format("{0:C}", @item.sep_consumido)</label><br />
                                                <label>Disponible<br />@string.Format("{0:C}", @item.sep_disponible)</label>
                                            </td>

                                            <td onclick="ConsumoMensualAlman(@items.cuenta,10,@item.oct_consumido)">
                                                <label>Presupuestado<br />@string.Format("{0:C}", @item.oct_asignado)</label><br />
                                                <label>Consumo<br />@string.Format("{0:C}", @item.oct_consumido)</label><br />
                                                <label>Disponible<br />@string.Format("{0:C}", @item.oct_disponible)</label>
                                            </td>

                                            <td onclick="ConsumoMensualAlman(@items.cuenta,11,@item.nov_consumido)">
                                                <label>Presupuestado<br />@string.Format("{0:C}", @item.nov_asignado)</label><br />
                                                <label>Consumo<br />@string.Format("{0:C}", @item.nov_consumido)</label><br />
                                                <label>Disponible<br />@string.Format("{0:C}", @item.nov_disponible)</label>
                                            </td>

                                            <td onclick="ConsumoMensualAlman(@items.cuenta,12,@item.dic_consumido)">
                                                <label>Presupuestado<br />@string.Format("{0:C}", @item.dic_asignado)</label><br />
                                                <label>Consumo<br />@string.Format("{0:C}", @item.dic_consumido)</label><br />
                                                <label>Disponible<br />@string.Format("{0:C}", @item.dic_disponible)</label>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <script>
    $('#datatable_@items.cuenta').DataTable({
        keys: false,
        ordering: false,
        select: true,
        paging: true,
        dom: "Bfrtip",
        scrollCollapse: false,
        buttons: [{}],
        responsive: !0,
        pagingType: 'simple_numbers'
    });
            </script>


        </div>
    }
}
else
{
    <div class="col-md-12 text-center">
        <h1 style="color:red">ES NECESARIO ASIGNAR PRESUPUESTO A LA CUENTA CONTABLE</h1>
        <h2 style="color:red">(La cuenta contable no cuenta con un presupuesto asignado)</h2>
    </div>
}