@model IEnumerable<Beta_System.Models.C_envios_leche_lote_d>
@{
    decimal total_importe = 0;
}
@if (Model.Count() > 0)
{
    <h3>Lote #@Model.Where(x => x.activo == true).FirstOrDefault().C_envios_leche_lote_g.id_envio_leche_lote_g</h3>
    <table class="table table-striped table-bordered" id="datatable_lote_leche_mostrar" data-toggle="table" data-search="true" width="100%">
        <thead>
            <tr class="bg-beta text-center">
                <th>Establo</th>
                <th>Fecha</th>
                <th>Producto</th>
                <th>Cliente</th>
                <th>Destino</th>
                <th>Litros</th>
                <th>Precio Leche</th>
                <th>Precio Flete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.C_envios_leche_confirmacion.C_envios_leche_g.C_establos.nombre_establo</td>
                    <td>@item.C_envios_leche_confirmacion.C_envios_leche_g.fecha_envio</td>
                    <td>@item.C_envios_leche_confirmacion.C_envios_leche_g.C_articulos_catalogo.nombre_articulo</td>
                    <td>@item.C_envios_leche_confirmacion.C_envios_leche_g.C_envios_leche_clientes.nombre_comercial</td>
                    <td>@item.C_envios_leche_confirmacion.C_envios_leche_g.C_envios_leche_destinos.nombre_destino</td>
                    <td>@item.C_envios_leche_confirmacion.C_envios_leche_g.litros_totales.Value.ToString("N3")</td>
                    <td>@item.precio_leche.Value.ToString("C")</td>
                    <td>@item.precio_flete.Value.ToString("C")</td>

                    @{
                        total_importe += Convert.ToDecimal(@item.C_envios_leche_confirmacion.C_envios_leche_g.litros_totales) * Convert.ToDecimal(item.precio_leche);
                    }
                </tr>
            }
        </tbody>
    </table>
    <div class="col-md-12">
        <hr />
    </div>
    <div class="col-md-12" style="display:none">
        <label id="cliente_ms_factura">@Model.FirstOrDefault().C_envios_leche_confirmacion.C_envios_leche_g.C_envios_leche_clientes.id_cliente_microsip</label>
        <label id="lote_g_factura_leche">@Model.FirstOrDefault().id_envio_leche_lote_g</label>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3 text-center">
        <div class="col-md-6">
            <strong>Litros Totales</strong>
            <input class="form-control" readonly id="litros_factura_lota" value="@Model.Sum(x=>x.C_envios_leche_confirmacion.C_envios_leche_g.litros_totales)" />
        </div>
        <div class="col-md-6">
            <strong>Importe Total</strong>
            <input class="form-control" readonly id="importe_factura_lote" value="@total_importe" />
        </div>
    </div>
    <div class="col-md-3 text-center">
        <strong>Factura</strong>
        <input type="text" class="form-control" value="@Model.FirstOrDefault().C_envios_leche_lote_g.factura" id="factura_informacion_leche" />
    </div>
    <div class="col-md-3"></div>

    <div class="col-md-12"><hr /></div>

    <div class="col-md-6 text-center" style="font-size:16px">
        <strong>Litros Totales</strong><br /><label id="total_litros_factura_mostrar"></label>
    </div>
    <div class="col-md-6 text-center" style="font-size:16px">
        <strong>Importe Total</strong><br /><label id="total_importe_factura_mostrar"></label>
    </div>

    <div class="col-md-12"><br /></div>

    <div class="col-md-12">
        <table class="table table-striped table-bordered text-center" id="tabla_lote_facturas_mostrar">
            <thead>
                <tr class="bg-beta text-center">
                    <th>Folio</th>
                    <th>Usuario Facturó</th>
                    <th>Fecha</th>
                    <th>Clave Cliente</th>
                    <th>Nombre del Cliente</th>
                    <th>Clave Fiscal</th>
                    <th># Artículo</th>
                    <th>Nombre del Artículo</th>
                    <th>Unidades (Litros)</th>
                    <th>Precio Unitario</th>
                    <th>Precio Total Neto</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
}
else
{
    <div class="col-md-12 text-center">
        <h2 style="color:red">No se encontró información, ocurrio un problema</h2>
    </div>
}