@model Beta_System.Models.C_inventario_almacen_ajustes_g

<img src="~/Content/img_layout/logo_beta_new.png" width="300" style="float:right;margin-top:20px;" />
<h1 class="text-center"><strong style="font-size:36px;">AJUSTE DE INVENTARIO</strong></h1>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <h2><strong>FOLIO  #<strong class="ml-2 ">@Model.id_inventario_ajuste_g</strong></strong></h2>
        </div>
        <br />
        <br />
        <div class="col-md-4">
            <h3><strong>ALMACÉN:<strong class="ml-1">@Model.C_almacen_almacenes_g.nombre_almacen</strong></strong></h3>
        </div>
        <div class="col-md-3">
            <h3><strong>FECHA: <strong class="ml-1">@String.Format(Model.fecha_registro.Value.ToShortDateString(), "dd/mm/aaaa")</strong></strong></h3>
        </div>
        <div class="col-md-5 text-right">
            <div class="row">
                <h3><strong>REGISTRÓ: <strong class="ml-1">@Model.C_usuarios_corporativo.C_empleados.nombres @Model.C_usuarios_corporativo.C_empleados.apellido_paterno</strong></strong></h3>
            </div>
        </div>
    </div>
    
</div>



<hr />
<table class="table table-striped table-bordered">
    <tr class="bg-beta text-center">
        <th>Clave</th>
        <th>Articulo</th>
        <th>Tipo</th>
        <th>Unidad medida</th>
        <th>Existencia original</th>
        <th>Existencia fisica</th>
        <th>Entrada</th>
        <th>Salida</th>
        <th>Ajuste</th>
    </tr>
    @foreach (var mov in Model.C_inventario_almacen_ajustes_d.Where(x => x.activo == true))
    {
        <tr class="text-center">
            <td>@mov.C_articulos_catalogo.clave</td>
            <td class="text-left">@mov.C_articulos_catalogo.nombre_articulo</td>
            <td>@mov.C_articulos_catalogo.C_articulos_tipos.nombre_tipo</td>
            <td>@mov.C_articulos_catalogo.C_unidades_medidas.unidad_medida</td>
            <td>@mov.existencia_sistema.Value.ToString("N2")</td>
            <td>@mov.existencia_fisica.Value.ToString("N2")</td>
            <td>
                @if (mov.entrada_salida == true)
                {<i class="fa fa-check"></i>}
            </td>
            <td>
                @if (mov.entrada_salida == false)
                {<i class="fa fa-check"></i>}
            </td>
            <td>@Math.Abs(mov.ajuste.Value).ToString("N2")</td>
        </tr>
    }
</table>


