@model List<Beta_System.Models.GastosMensualesMS.GastosMensualesConsolidadoConsumoCompra>

<table class="table table-striped table-bordered" id="datatable_consolidado_detalle">
    <tr class="bg-beta text-center">
        <th>Fecha</th>
        <th>Referencia</th>
        <th style="width:40%;">Descripción</th>

        <th>Requisición</th>
        <th>Fecha requisición</th>
        <th>Observaciones</th>

        <th>Clave prov.</th>
        <th>Proveedor</th>
        <th>Artículo</th>
        <th>Cantidad</th>
        <th>Precio</th>
        <th>Importe $</th>
        <th>Cuenta</th>
        <th>Nombre cta.</th>
        @*<th>Almacen</th>*@
    </tr>
    @foreach (var item in Model.Where(x => x.Docto_Cp_Id > 0))
    {
        string observaciones_requi = "";
        if (item.Folio_requisicion != "N/A")
        {
            try { observaciones_requi = item.Observaciones.Substring(0, item.Observaciones.Length - 2); }
            catch (Exception) { }
        }

        <tr class="text-center">
            <td>@string.Format(item.Fecha.ToShortDateString(), "dd/mm/yyyy")</td>
            <td>@item.Folio</td>
            <td>@item.Descripcion</td>

            @if (item.Folio_requisicion != "N/A")
            {
                <td>@item.Folio_requisicion</td>
                <td>@string.Format(item.Fecha_requisicion.ToShortDateString(), "dd/mm/yyyy")</td>
                <td>@observaciones_requi</td>
            }
            else
            {
                <td>@item.Folio_requisicion</td>
                <td></td>
                <td>@item.Observaciones</td>
            }

            <td>@item.Clave_Prov</td>
            <td>@item.Nombre_Proveedor</td>
            <td></td>
            <td></td>
            <td></td>
            <td>$@item.Importe.ToString("N2")</td>
            <td>@item.Cuenta</td>
            <td>@item.Cuenta_Concepto</td>
            @*<td></td>*@
        </tr>
    }
    @foreach (var item in Model.Where(x => x.Docto_Cp_Id == 0))
    {
        <tr class="text-center">
            <td>@string.Format(item.Fecha.ToShortDateString(), "dd/mm/yyyy")</td>
            <td>@item.Folio</td>
            <td style="width:40%;">@item.Descripcion</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>@item.Clave_Art - @item.Articulo</td>
            <td>@item.Cantidad</td>
            <td>@item.Costo</td>
            <td>$@item.Importe_articulo.ToString("N2")</td>
            <td>@item.Cuenta</td>
            <td>@item.Cuenta_Concepto</td>
            @*<td>@item.Almacen</td>*@
        </tr>
    }
</table>
